* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

:root {

}

@font-face {
    font-family: kamarik-3d;
    src: url(../fonts/kamerik205-heavy.woff2);
    font-weight: 900;
}

@font-face {
    font-family: merriweather-italic-3d;
    src: url(../fonts/merriweather-regular-italic.woff2);
}

body{
    background-color: black;
    color: white;
    font-family: kamarik-3d;
}

.logo{
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
}

.layers{
    perspective: 1000px;
    overflow: hidden;
}

.layers__container{
    height: 100vh;
    transform-style: preserve-3d;
    transform: rotateY(var(--move-x)) rotateX(var(--move-y));

}

.layers__item{
    position: absolute;
    inset: -5vw;/* На замену top, bottom,left,right */
    background-size: cover;
    background-position: center;
    transform: rotateY(var(--move-x)) rotateX(var(--move-y));
}

.layer-1 {
    transform: translateZ(-55px) scale(1.06);
}

.layer-2 {
    transform: translateZ(80px) scale(.88);

}

.layer-3 {
    transform: translateZ(180px) scale(.8);

}

.layer-4 {
    transform: translateZ(190px) scale(.9);

}

.layer-5 {
    transform: translateZ(300px) scale(.9);

}

.layer-6 {
    transform: translateZ(380px) scale(.88);

}




