* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

:root {

}

@font-face {
    font-family: kamarik-3d;
    src: url(../fonts/kamerik205-heavy.woff2);
    font-weight: 900;
}

@font-face {
    font-family: merriweather-italic-3d;
    src: url(../fonts/merriweather-regular-italic.woff2);
}

body{
    background-color: black;
    color: white;
    font-family: kamarik-3d;
}

.logo{
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
}

.layers{
    perspective: 1000px;
    overflow: hidden;
}

.layers__container{
    height: 100vh;
    transform-style: preserve-3d;

}

.layers__item{
    position: absolute;
    inset: -5vw;
    background-size: cover;
    background-position: center;
    transform: rotateY(var(--move-x)) rotateX(var(--move-y));
}

